<template name="HomePrivate">
	<!-- Page heading -->
    {{> pageHeading title='Selection' }}
	<body>
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-lg-6">
					<div class="widget style1 navy-bg">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-cloud fa-5x">
								</i>
							</div>
							<div class="col-xs-8 text-right">
								<span>
								</span>
								<h2 class="font-bold">
									Admin
								</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="widget style1 navy-bg">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-cloud fa-5x">
								</i>
							</div>
							<div class="col-xs-8 text-right">
								<span>
								</span>
								<h2 class="font-bold">
									Tenant
								</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="widget style1 navy-bg">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-cloud fa-5x">
								</i>
							</div>
							<div class="col-xs-8 text-right">
								<span>
								</span>
								<h2 class="font-bold">
									Agent
								</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="widget style1 navy-bg">
						<div class="row">
							<div class="col-xs-4">
								<i class="fa fa-cloud fa-5x">
								</i>
							</div>
							<div class="col-xs-8 text-right">
								<span>
								</span>
								<h2 class="font-bold">
									Supervisor
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</template>

